<form method="GET" action="/produtos/cadastrar">

		<div>
			<label>Nome</label>
			<input type="text" name="nome">
		</div>


		<div>
			<label>Quantidade</label>
			<input type="number" name="quantidade">
		</div>
		<div>
			<label>Preço unitário</label>
			<input type="text" name="precoUnitario">
		</div>
		<div>
			<button>Cadastrar</button>
		</div>
</form>